if isUnauth
  p
    :translate(prop='template.unauth')
      Your file could not be completed, please try again
else
  p(style='color: #606060;font-size: 15px;line-height: 150%;')
    :translate(prop='template.readyForDownload')
      The report you request is ready for download
  p(style='color: #606060;font-size: 15px;line-height: 150%;')
    :translate(prop='template.fileName')
      File name
    | :
    b(style='margin-left: 5px;')
      | #{fileName}

  p(style='color: #606060;font-size: 15px;line-height: 150%;')
    :translate(prop='template.ifDidNotInitAction')
      If you did not initiate this action and you suspect that your account may be compromised, please

    a(
      href='https://www.bitfinex.com/freeze',
      target='_blank',
      style='text-decoration: none; color: #4995c4'
    )
      |&nbsp;
      :translate(prop='template.freezeAccount')
        freeze your account
    |&nbsp;
    :translate(prop='template.contactSupport')
      and contact support
