if isUnauth
  p
    | Your file could not be completed, please try again
else
div(style='border-collapse: collapse;margin: 0;padding: 0;background-color: #eee;height: 100%!important;width: 100%!important')
  table(border='0', cellpadding='0', cellspacing='0', width='100%')
    tbody
      tr
        td(align='center')
          img(src='https://www.bitfinex.com/assets/logo3.png', alt='Bitfinex', style='max-width: 230px;padding:30px;display:inline;vertical-align:bottom;border:0;outline:none;text-decoration:none')
      tr
        td(align='center', valign='top')
          table(border='0', cellpadding='0', cellspacing='0' style='padding: 20px;background-color:white;max-width: 600px;')
            tbody
              tr
                td(align='left')
                  h1(style='font-size: 24px;color: #a6a6a6;line-height: 150%;font-weight: lighter;')
                    | Data Is Ready
              tr
                td
                  p(style='font-size: 15px;line-height: 150%;')
                    | Your download link
                    b(style='padding-left:5px;padding-right:5px;')
                      | #{fileName}
                    | is ready
                  p(style='font-size: 15px;line-height: 150%;')
                    | Please click the button below to download.
                  p(style='font-size: 15px;line-height: 150%;')
                    | If you did not initiate this action and you suspect that your account may be compromised, please
                    |
                    a(href='https://www.bitfinex.com/freeze', target='_blank', style='text-decoration: none; color: #4995c4')
                      | freeze your account
                    |
                    | and contract support.
              tr
                td(align='center')
                  table(border='0', cellpadding='0', cellspacing='0')
                    tbody
                      tr
                        td
                          a(href=public_url, target='_blank', style='background-color: #f5f5f5;border-radius: 2px;border: solid 1px #e5e5e5;box-sizing: border-box;cursor: pointer;display: inline-block;font-size: 12px;margin-top: 30px;margin-bottom:20px;padding: 12px 25px;color: #53aae5;text-decoration: none;text-transform: uppercase;word-wrap: break-word;') Download CSV
              tr
                td(align='left')
                  div(style='font-size: 13px;line-height: 150%;color:#999;padding:9px 0;')
                    | Regards,
                    br
                    | The Bitfinex Team
                    br
                    a(href='https://www.bitfinex.com', target='_blank', style='text-decoration: none; color:#c4bccb') https://www.bitfinex.com
