{
  "processor": {},
  "aggregator": {
    "emailOpts": {
      "from": "\"Bitfinex\" <no-reply@bitfinex.com>",
      "subject": "Download report"
    },
    "s3": {
      "bucket": "",
      "acl": "",
      "signedUrlExpireTime": 1,
      "contentDisposition": "attachment"
    }
  }
}
