extends base.pug

block commonContentHeader
  - const columns = jobData?.columnsCsv ?? Object.keys(apiData?.[0] ?? {})

  div(class='common-content-header')
    h2(class='content-title').
      #{reportName}
    div(class='content')
      ul.responsive-table
        li.table-header
          each columnVal, columnKey in columns
            .col #{columnVal}

block content
  - const data = Array.isArray(apiData) ? apiData : [apiData ?? {}]
  - const columns = jobData?.columnsCsv ?? Object.keys(data?.[0] ?? {})

  ul.responsive-table
    each dataItem, dataIndex in data
      li.table-row
        each columnVal, columnKey in columns
          .col #{dataItem[columnKey]}
