app:
  port: 31339
  cors:
    enable: true
    whitelist: null # array

grenacheClient:
  grape: http://127.0.0.1:30001

log:
  label: :app-prod
  pathError: logs/error.log
  pathExcLogger: 'logs/exceptions-logger.log'
