{
  "app": {
    "port": 3001
  },
  "grenacheClient": {
    "grape": "http://127.0.0.1:30001"
  },
  "logDebug": {
    "postfix": ":app-test",
    "enableInfo": false,
    "enableDev": false,
    "enableError": false,
    "enableServerStream": false
  },
  "log": {
    "label": ":app-test",
    "enableConsole": false
  }
}
