{
  "grcServices": [
    "rest:report:api"
  ],
  "restUrl": "https://api-pub.bitfinex.com",
  "emailConf": {
    "from": "Bitfinex <no-reply@bitfinex.com>",
    "subject": "Your report is ready"
  },
  "s3Conf": {
    "bucket": "",
    "acl": "",
    "signedUrlExpireTime": 28800
  },
  "isSpamRestrictionMode": true,
  "isAddedUniqueEndingToCsvName": false,
  "isСompress": true,
  "isLoggerDisabled": false
}
