{
  "grcServices": [
    "rest:report:api"
  ],
  "bull": {
    "port": "6379",
    "host": "127.0.0.1",
    "auth": {},
    "processor": {
      "queue": "processor"
    },
    "aggregator": {
      "queue": "aggregator"
    }
  },
  "restUrl": "https://api.bitfinex.com"
}